<%= render "shared/tabs" %>
<section class="l-adding main">
  <div class="l-constrained-small">
    <h2>Si vous êtes freelance ajoutez votre nom GitHub ci-dessous</h2>
    <%= form_tag("/githubers") do %>
    <div id="pseudo-form" style="position:relative">
      <input type="text" id="pseudo" name="login" placeholder="Votre pseudo GitHub" value="" autocomplete="off">
      <button type="submit" class="button postfix">Ok</button>
    </div>
    <% end %>
  </div>
</section>
<section class="l-rockstar">
  <div class="l-constrained-small centered">
    <% if !@githubers.blank? %>
      <% cache("githubers_partials", :expires_in => 24.hour) do %>
        <%= render :partial => "githubers" %>
      <% end %>
    <% else %>
    <p>Il n'y a aucun freelance pour le moment, soyez le premier !</p>
    <% end %>
  </div>
</section>
