<section class="l-tabs">
  <ul>

    <!-- <% if ENV['new_home'] == '1'%>
      <% if @tab == 'ranking'%>
      <li class="is-active">

        <i class="icon ion-android-star"></i>
      </li>
      <% else %>
      <li>
        <a href="/">
          <i class="icon ion-android-star"></i>
        </a>
      </li>
      <% end %>
    <% end %> -->
    <% if @tab == 'rockstars'%>
    <li class="is-active">
      <i class="icon ion-social-twitter"></i><span>Twitter</span>
    </li>
    <% else %>
    <li>
      <a href="/twitter">
        <i class="icon ion-social-twitter"></i><span>Twitter</span>
      </a>
    </li>
    <% end %>
    <% if @tab == 'dribbblers'%>
    <li class="is-active">
      <i class="icon ion-social-dribbble"></i><span>Dribbble</span>
    </li>
    <% else %>
    <li>
      <a href="/dribbblers">
        <i class="icon ion-social-dribbble"></i><span>Dribbble</span>
      </a>
    </li>
    <% end %>
    <% if @tab == 'githubers'%>
    <li class="is-active">
      <i class="icon ion-social-github"></i><span>GitHub</span>
    </li>
    <% else %>
    <li>
      <a href="/githubers">
        <i class="icon ion-social-github"></i><span>GitHub</span>
      </a>
    </li>
    <% end %>
    <% if @tab == 'linkedin'%>
    <li class="is-active">
      <i class="icon ion-social-linkedin"></i><span>Linkedin</span>
    </li>
    <% else %>
    <li>
      <a href="/linkedin">
        <i class="icon ion-social-linkedin"></i><span>Linkedin</span>
      </a>
    </li>
    <% end %>
  </ul>
</section>
<section class="l-intro">
  <div class="l-constrained-small centered">
    <h1><%= @title %></h1>
  </div>
</section>
<% if Rails.env.development? %>
  <% console %>
<% end %>
