<%= render "shared/tabs" %>

<section class="l-adding main">
  <div class="l-constrained-small">
    <h2>Si vous êtes freelance ajoutez votre nom Dribbble ci-dessous</h2>
    <%= form_tag("/dribbblers") do %>
      <div id="pseudo-form" style="position:relative">
        <input type="text" id="pseudo" name="pseudo" placeholder="Votre pseudo Dribbble" value="" autocomplete="off">
        <!-- <input type="text" id="email" name="email" placeholder="Votre email" value="" autocomplete="off"> -->
        <button type="submit" class="button postfix">Ok</button>
      </div>
    <% end %>
  </div>
</section>

<section class="l-rockstar">
  <div class="l-constrained-small centered">
    <% if !@dribblers.blank? %>
      <% cache("dribbblers_partials", :expires_in => 24.hour) do %>
        <%= render :partial => "dribbblers" %>
      <% end %>
    <% else %>
      <p>Il n'y a aucun freelance pour le moment, soyez le premier !</p>
    <% end %>
  </div>
</section>

