<section class="l-intro">
  <div class="l-constrained-small centered">
    <h1>Bien joué</h1>  
</div>  
</section>
<section class="l-rockstar">
  <div class="l-constrained-small centered">
  	<br><br><br>
	<p>Nous allons maintenant examiner le pseudo que vous nous avez soumis !</p>
	<p>À bientôt sur <a href="http://freelanceboost.fr/">FreelanceBoost</a>.</p>
</section>