<%= render "shared/tabs" %>
<section class="l-adding main">
  <div class="l-constrained-small">
    <h2>Si vous êtes freelance ajoutez votre pseudo Twitter ci-dessous</h2>
    <%= form_tag("/rockstars") do %>
    <div id="pseudo-form" style="position:relative">
      <input type="text" id="pseudo" name="pseudo" placeholder="Votre pseudo twitter" value="" autocomplete="off">
      <button type="submit" class="button postfix">Ok</button>
    </div>
    <% end %>
  </div>
</section>
<section class="l-rockstar">
  <div class="l-constrained-small centered">
    <% if !@rockstars.blank? %>
      <% cache("rockstars_partials", :expires_in => 1.hour) do %>
        <%= render :partial => "rockstars" %>
      <% end %>
    <% else %>
      <p>Il n'y a aucun freelance pour le moment, soyez le premier !</p>
    <% end %>
  </div>
</section>
